<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
	</tr>

	<tr>
	  <th>follows</th>
    <th><%= link_to user.active_relationships.count, relationships_follow_path %></th>
	  <th>followers</th>
	  <th><%= link_to user.passive_relationships.count, relationships_follower_path %></th>
	</tr>
	<tr>
  
    <% if user != current_user %>
   <th><%= current_user.following?(user) %></th>
   <link_to コメント数: <%= @book.book_comments.count %></td>
   class="btn btn-success">フォローする
   <% end %>
	</tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>